@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #3E6868;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #3E6868;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --bg-primary: #252525;
    --bg-secondary: #898681;
    --bg-tertiary: #b0aeab;
    --text-primary: #edebe8;
    --text-secondary: #cccccc;
    --text-muted: #d9d7d3;
    --accent: #cdc3b6;
    --accent-hover: #b0aeab;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
